@import "bootstrap";
@import "bootstrap-sprockets";

html {
  //overflow-y: scroll;
}

body {
  padding-top: 140px;
  //padding-top: 70px;
  width: 100%;
  background-attachment: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

//////////////////////////////////* header */////////////////////////////////////

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar-inner{
  background: #c4d8db;
  padding: 0px;
}

.Logoimage{
  float: left;
}

.p1 {
  padding: 5px;
}

.buttons{
  padding: 15px;
}

//////////////////////////* footer */////////////////////////////////////

footer {
  margin-top: 45px;
  padding-top: 0px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    padding: 20px;
    font-size: 17px;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
    margin-top: 2%;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 50px;
      margin-top: 3%;
    }
  }
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -140px;

}

.railstutorial{
  float: left;
  margin-top: 0%;
  padding-top: 10px;
}

.Tesl{
  float: right;
  margin-top: 0.5%;
  padding-right: 50px;

}

footer :after {
  content: "";
  display: block;
}

.footer, .push { /* .push must be the same height as footer */
  height: 90px;
}

.footer{              /* тут мы делаем футер статичным и привязываем его к полу */
  background: #c4d8db;
  position: fixed;
  bottom: 0%;
  width: 100%
}



/////////////////////////////* typography */////////////////////////////////////

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}