<div class="page-wrap ">
</div>
<footer class="footer">
  <small class="railstutorial">
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <small class="Tesl" >Tesl@Vova</small>
  <nav class="col-md-6 .col-md-offset-6" style="background-position: center">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><%= link_to "Git Hub", "https://github.com/Teslenko/RecruitingTime"%></li>
      <!--<li><a href="https://github.com/Teslenko/RecruitingTime">Git Hub</a></li>-->
    </ul>
  </nav>
</footer>